* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 20px;
    border-radius: 10px;
    background-color: beige;
    width: 30%;
    height: 35%;
    font-size: 1.1rem;
}

#registerForm {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 0.8rem;
    height: 100%;
}

#inputs {
    display: grid;
    gap: 0.75rem;
    width: 100%;
}

input, select, #registerForm button {
    width: 100%;
    padding: 8px;
    font-size: 1em;
}

.hidden {
    display: none;
}

h1 {
    padding-top: 2rem;
}

hr {
    padding: 0;
    margin: 20px 0;
    border: none;
    border-top: 2px solid #333;
    width: 80%;
}

main, .actions {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    justify-content: center;
}

main {
    padding: 15px;
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.board {
    width: 30rem;
    height: 30rem;
    background-color: aqua;
    border: 2px black solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tile {
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions {
    width: 100%;
    gap: 0.5rem;
}

.actions button {
    width: 100%;
    padding: 8px;
    font-size: 1em;
}

#playerOne, #playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}