* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-top: 2rem;
}

hr {
    padding: 0;
    margin: 20px 0;
    border: none;
    border-top: 2px solid #333;
    width: 80%;
}

.board {
    width: 35rem;
    height: 35rem;
    background-color: aqua;
    border: 2px black solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tile {
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}