* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    border-radius: 30px;
    background-color: antiquewhite;
}

h1 {
    width: 330px;
    height: 70px;
    border: solid black 5px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
    text-align: right;
}

.buttons {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}