* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: wheat;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-content: start;
    gap: 2rem;
    padding: 2rem;
}

.card {
    display: flex;
    justify-content: space-between;
    border: 2px black solid;
}

.detail {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.actions {
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
}

.hidden {
    display: none;
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 20px;
    border-radius: 10px;
    background-color: beige;
    width: 30%;
    height: 45%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h2 {
    margin-bottom: 10px;
}

#close {
    position: absolute;
    top: 15px;
    right: 15px;
}

label {
    font-size: larger;
}

input {
    padding: 5px;
    border-radius: 10px;
    width: 20rem;
}

button {
    font-weight: 900;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card button {
    width: 2.3rem;
    height: 2.3rem;
    background: none;
    border: none;
    padding: 0.5rem;
}

.card button:hover {
    background-color: rgba(211, 211, 211, 0.7);
}

.card button.remove:hover {
    background-color: rgb(255, 100, 100);
}

#submit {
    font-weight: 500;
    margin-top: 10px;
    border-radius: 5px;
    width: 5rem;
}

footer {
    background-color: wheat;
    padding: 20px;
    display: flex;
    justify-content: center;
}